.container {
  width: 100%;
  .icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    img {
      position: absolute;
      left: 0;
    }
  }
  :global(.el-menu) {
    border: none;
  }
}
