.container {
  width: 100%;
  height: 49px;
  padding: 0 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #dcdfe6;
  background-color: #fff;
  .noBorder {
    border: none;
    outline: none;
  }
  :global(.is-drawer) {
    margin-top: 49px;
  }
}
.drawer {
  width: fit-content;
  box-shadow: none!important;
  border-right: 1px solid #dcdfe6;
  :global(.el-drawer__body) {
    padding: 0;
  }
}
