.container {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  :global(.el-step__icon) {
    position: absolute;
    left: 0;
  }
  :global(.el-step__title) {
    margin-top: 30px;
  }
  .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    color: #000;
  }
  .form {
    width: 600px;
    height: auto;
    .btnGroup {
      padding: 0 70px;
      box-sizing: border-box;
      .btn {
        width: 50%;
        margin: 0;
      }
    }
  }
}
