@use '../../common.scss' as common;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 16px;
  flex-shrink: 0;
  @include common.borderLeft();
}
.border {
  position: relative;
  &::before {
    content: ' ';
    padding-left: 1px;
    background-color: #d3d3d3;
    line-height: 16px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
