.container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  .avatar {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    flex-shrink: 0;
  }
  .info {
    width: calc(100% - 62px);
    text-align: left;
    .email {
      width: 100%;
    }
  }
}
