.container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  :global(.el-card__body) {
    padding: 20px 12px 20px 20px;
    box-sizing: border-box;
  }
  .title {
    width: 100%;
    text-align: left;
  }
  .list {
    width: 100%;
    .product {
      width: calc(25% - 8px);
      padding: 12px;
      box-sizing: border-box;
      border: 1px solid rgba(234, 237, 241, .8);
      border-radius: 4px;
      float: left;
      margin-right: 8px;
      cursor: pointer;
      &:hover {
        color: var(--el-color-primary)!important;
        box-shadow: 0 0 5px #eee;
        .productTitle {
          color: var(--el-color-primary)!important;
        }
      }
      .icon {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
      }
    }
  }
}
