.container {
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  box-sizing: border-box;
  background-color: rgb(240, 243, 247);
  .productsContainer {
    width: 66%;
    height: 100%;
    background-color: #fff;
  }
  .basicContainer {
    width: 34%;
    height: 100%;
    background-color: #fff;
  }
}
